<div class = "login_page_body">

  <h1>Foodie Login</h1>

  <div class="ui orange messsage">
    <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
    <% end %>
  </div>

  <div id="login_user_form">
    <div class="ui form">

      <%= form_tag '/login', method: :post do %>

      <div class="two fields">
        <div class="field">
          <div class = "username-field">
          <%= label_tag :username %>
          </div>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="field">
          <div class = "username-field">
          <%= label_tag :password %>
          </div>
          <%= password_field_tag :password %>
        </div>
      </div>

          <%= submit_tag "submit", class: "ui button foodie-button" %>
      <% end %>

    </div>
  </div>

</div>
