<div class = "login_page_body">

  <h1>Foodie Login</h1>

  <h3><%= flash[:notice] %></h3>

  <div id="login_user_form">
    <div class="ui form">

      <%= form_tag '/login', method: :post do %>

      <div class="two fields">
        <div class="field">
          <%= label_tag :username %>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
      </div>

          <%= submit_tag "submit", class: "ui button" %>
      <% end %>

    </div>
  </div>

</div>
