<%= render "/layouts/errors" %><br>

<div class="new_user_form">
  <div class="ui form">

      <%= form_for @user do |f|%>

      <div class="two fields">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name%>
        </div>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username%>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :confirm_password %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <%= f.label :profile_pic_url %>
          <%= f.text_field :profile_pic %>
        </div>
        <div class="field">
          <%= f.label :age %>
          <%= f.number_field :age%>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city%>
        </div>
      </div>

      <div class="field">
        <%= f.label :bio %>
        <%= f.text_area :bio%>
      </div>

      <div class="field">
        <%= f.label "Select All That Apply" %>
        <div class="checkbox-list">
          <%= f.collection_check_boxes :restriction_ids, @restrictions, :id, :name, {:item_wrapper_class => "ui checkbox"} %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Favorite Cuisine" %>
        <%= f.collection_select :fav_cuisine_id, @fav_cuisines, :id, :name, {prompt: true}, {class: "ui search dropdown"} %>
      </div>

      <div class="field">
      <%= f.label "Do you prefer eating out or staying in?" %>
      <%= f.collection_select :eating_location_id, @eating_locations, :id, :name, {prompt: true}, {class: "ui search dropdown"} %>
      </div>

      <div class="field">
      <%= f.label "Favorite Meal:" %>
      <%= f.collection_select :meal_id, @meals, :id, :name, {prompt: true}, {class: "ui search dropdown"} %>
      </div>

      <div class="field">
      <%= f.label "Where would you prefer to grocery shop?" %>
      <%= f.collection_select :shopping_id, @shoppings, :id, :name, {prompt: true}, {class: "ui search dropdown"} %>
      </div>

      <button class="ui button foodie-button" type="submit">
      Submit
      </button>

    <% end %>

  </div>
</div>
