<h1>Browse All Foodies</h1>


<% if @current_user == nil %>
<div class = "image-gallery">
<% @users.each do |user| %>
  <% if user != @current_user %>
      <div class ="container">
        <%= link_to (image_tag("#{user.avatar_pic}")), user_path(user), class: "gallery-img image" %><br>
      <div class="middle">
      <div class = "text" >
        <%= link_to user.username.capitalize, user%>
      </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<% else  %>
<div class = "image-gallery">
  <%= render "sort_form" %><br>
<% @sorted_users.each do |user| %>
  <% if user != @current_user && !@current_user.friends.include?(user) %>
      <div class ="container">
      <%= link_to (image_tag("#{user.avatar_pic}")), user_path(user), class: "gallery-img image" %><br>
      <div class="middle">
      <div class = "text" >
      <%= link_to ("#{User.percentage_match(user, @current_user)}% Match #{user.username.capitalize}"), user%>
      </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<% end %>
