<div id="user_profile">

  <div class="profile_pic">
    <% begin %>
    <p><%= image_tag "#{@user.profile_pic}"%></p>
    <% rescue %>
    <p><%= "Yo, where's that image" %></p>
    <% end %>
  </div>

  <div class="profile_info">
    <h1><%= @user.first_name %></h1>
      <p>
        Username: <%= @user.username %><br>
        Age: <%= @user.age %><br>
        City: <%= @user.city %><br>
        Bio: <%= @user.bio %>
      </p>

    <% if @user.id == session[:user_id] %>
    <%= button_to "logout", logout_path, method: :delete  %>
    <% end %>


    <% if (!@current_user.incoming_pending?(@user.id) && !@current_user.outgoing_pending?(@user.id)) && (@current_user.id != @user.id)  %>
      <%= button_to "REQUEST TO FORK WITH THIS PERSON", user_path(@user), method: :post%>
      <% elsif @current_user.outgoing_pending?(@user.id) %>
        <p>You've already friended this User</p>
      <% end %>

  </div>

</div>
