<h1><%= @user.first_name %></h1>
<p>
  Username: <%= @user.username %><br>
  Age: <%= @user.age %><br>
  City: <%= @user.city %><br>
  Bio: <%= @user.bio %>
</p>

<%= button_to "logout", logout_path, method: :delete  %>
