<div class ="chat-page">

  <h1>
    Chat with
    <% if @conversation.user_id == @current_user.id %>
      <%= @conversation.friend.username.capitalize %>
      <% else %>
      <%= @conversation.user.username.capitalize %>
    <% end %>
  </h1>

    <div class="conversation">
      <% @messages.each do |message| %>
        <% if message.conversation_id == @conversation.id %>
            <div class="username">
              <a class="ui image label">
                <%= image_tag("#{message.user.avatar_pic}") %>
                <%= message.username %>
              </a>
              <%= message.created_at.strftime("%b %d, %Y %l:%M") %><br>
            </div>
            <%= message.message %><br><br>
        <% end %>
      <% end %>
    </div>

  <br>

    <div class="ui form">
      <%= form_tag messages_path(@conversation.id), method: :post do %>
        <div class="field chat-message">
          <p><%= text_field_tag :message %></p>
          <%= submit_tag "Send Message", class: "ui button foodie-button" %>
        </div>
      <% end %>
    </div>

</div>
