<div id="top_nav">

<div class="nav_button">
  <%= link_to "View all profiles", users_path %>
</div>

<% if !session[:user_id] %>
  <div class="nav_button">
    <%= button_to "Login", login_path, method: :get  %>
  </div>
  <div class="nav_button">
    <%= button_to "Sign Up", new_user_path, method: :get  %>
  </div>
<% else %>
  <div class="nav_button">
    <%= button_to "logout", logout_path, method: :delete  %>
    <%= button_to "View Friends", active_friends_path, method: :get  %>
    <p>Pending Foodie Requests: <%= link_to (@current_user.num_pending_requests), friendships_path, method: :get %></p>

  </div>
<% end %>

</div>
